{% extends './layout.html' %} {% block title%} Vista Previa {% endblock %} {%
block body %}

<article class="message is-primary">
  <div class="message-body">
  <div class="row">
    <div class="col">
      Vista previa de contenido.md
    </div>
  </div>
  <div class="row">
    <div class="col"><u>Modo testing:</u> <h1 class="title">{{ funcionando_en_testing }}</h1></div>
  </div>
  <div class="row">
    <div class="col">
      Modo de adjuntos: <h1 class="title">{{ adjuntos }}</h1>
    </div>
  </div>
</article>
<div class="box">
   {{ subject }}
</div>
<div class="content card">
  <div class="card-content">
    <h2>Cuerpo del mensaje</h2><br/>
    {{ contenido | markdown}}
  </div>
</div>
{% if funcionando_en_testing %}
<div class="row">
  <div class="col">
    <form action="/enviar" method="POST" onSubmit="document.getElementById('submit').disabled=true;">
      <input id="submit" type="submit" class="button is-primary" value="Enviar" />
    </form>
  </div>
</div>
{% else %}
<div class="row">
  <div class="col">
    <form action="/enviar" method="POST" onSubmit="document.getElementById('submit').disabled=true;">
      <input id="submit" type="submit" class="button is-danger" value="Enviar" />
    </form>
  </div>
</div>
{% endif %}

{% endblock %}
